body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

  :root {
    --clr-accent: #4f07d4;
    --clr-background: linear-gradient(200deg, #4f07d4 23%, #3b0898 54%);
    --clr-dark-accent: #3b0898;

  }

.jumbotron {
  background: linear-gradient(200deg, #4f07d4 23%, #3b0898 54%);
  color: white;
  padding: 5px 0;
  margin: 0;
}
.custom-background {
  background: var(--clr-accent);
}

.navbar {
  background: var(--clr-background);
}

.trainer-text {
  font-size: 1.5rem; 
}

.custom-workout-font {
  font-size: 1rem; 
}

.row-content {
  padding: 50px 0;
  min-height: 200px; 
}

.row-border {
  border-bottom: 1px ridge; 
}

.col-content {
  border-bottom: 1px ridge; 
}

.custom-font {
  color: var(--clr-accent); 
}

.btn-custom {
  background-color: var(--clr-accent) !important;
}

.btn-custom:hover {
  background-color: var(--clr-dark-accent) !important; 
}

.navbar .btn-custom {
  background-color: white !important;
  color: var(--clr-accent) !important;
}
.navbar .btn-custom:hover {
  background-color: var(--clr-dark-accent) !important;
  color: white !important;
}

.site-footer {
  padding: 20px 0;
}

.card-title {
  color: #4f07d4;
  font-size: 1.5rem;
}

.aboutus-text {
  font-size: 1.5rem;
}

/* Dark Mode CSS */
.dark-background {
  background-color: rgb(26, 25, 25);
}

.dark-mode-text {
  color: white;
}

.dark-mode-card {
  color: white;
  background: var(--clr-background);
}

.dark-mode-footer {
  background: var(--clr-background);
  color: white;
}


hr {
  background-color: white;
}

.workout-heading {
  font-size: 4rem;
}

/* Transitions & Animations */
.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: 500ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 500ms ease-in;
}

