body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

.jumbotron {
  background: linear-gradient(200deg, #4f07d4 23%, #3b0898 54%);
  color: white;
  padding: 5px 0;
  margin: 0;
}

.navbar {
  background: linear-gradient(200deg, #4f07d4 23%, #3b0898 54%)
}

.trainer-text {
  font-size: 1.5rem; }

.custom-workout-font {
  font-size: 1rem; }

.row-content {
  padding: 50px 0;
  min-height: 200px; 
}

.row-border {
  border-bottom: 1px ridge; 
}

.col-content {
  border-bottom: 1px ridge; 
}

.custom-font {
  color: #4f07d4; 
}

.btn-custom {
  background-color: #4f07d4;
  color: white; 
}

.btn-custom:hover {
  background-color: darkgrey; 
}

.site-footer {
  padding: 20px 0;
}

.card-title {
  color: #4f07d4;
  font-size: 1.5rem;
}
